.full{
    width: max-content;
    padding: 30px 0;
}

.carouselle{
    position: relative;
    overflow: hidden;
    mask-image:linear-gradient(90deg, #000 90%, transparent);
    -webkit-mask-image: linear-gradient(90deg, #000 90%, transparent);

.navigation{
    filter: invert(93%) sepia(0%) saturate(7500%) hue-rotate(75deg) brightness(115%) contrast(106%);
    position: absolute;
    background: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    img{
        width: inherit;
        height: inherit;
    }
    &:hover{
      cursor: pointer;
    }
  }
  
  .next{
    top: 50%;
    transform: translate(0, -100%);
    right: 50px;
  }
  .previous{
    top: 50%;
    transform: translate(0, -100%);
    left: 0px;
  }
}