.detail{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    font-family: var(--font-family-header);
    img{
        width: 800px;
        height: 800px;
    }
    .info{
        display: inline-block;
        a{
            font-size: 20px;
            color: var(--color-font-header);
        }

    }
}