@import "./../variables.scss";

section{
    background-color: $color-body-background;
}
.shop {
    width: 1120px;
    margin: 0 auto;
    padding: 30px 0;
    .products{
        
    }
    h1{
        font-family: 'TitleFontLatin', sans-serif;
    }
    .card{
        margin-bottom: 20px;
    }
}


