<div>
    {{cart.username}}
    <form method="POST">
      {% csrf_token %}
      {{ ordersForm.management_form }}
        {% for orderForm in ordersForm %}
            {% if orderForm.instance %}
                {% include 'cart/orderItem.html' with orderItem=orderForm.instance %}
                {{orderForm}}
                <a href="{% url 'catalogue:buyOrder' orderItemId=orderForm.instance.id %}">buy</a>
                <a href="{% url 'catalogue:addToCart' productId=orderForm.instance.product.id %}?next={% url 'cart:cart' %}">add 1</a>
                <a href="{% url 'catalogue:remove' orderItemId=orderForm.instance.id %}?next={% url 'cart:cart' %}">remove 1</a>
                <a href="{% url 'catalogue:deleteToCart' orderItemId=orderForm.instance.id %}">delete</a>
            {% endif %}
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
    <p>prix total : {{cart.total}}</p>

</div>