{% load static %}
{% load sass_tags %}

{% block stylsheet %}
     <link rel="stylesheet" href="{% sass_src 'cart/order.scss' %}" />
{% endblock %}

<div class="order">
    <div class="orders">
        {% for orderItem in order.orderItems.all %}
        <div>
            {% include 'catalogue/product.html' with product=orderItem.product %}
            <div id="quantity">{{ orderItem.quantity }}</div>
            <a href="{% url 'catalogue:addToCart' productId=orderItem.product.id %}?next={% url 'cart:cart' %}">ajouter un item</a>
            <br>
            <a href="{% url 'catalogue:remove' orderItemId=orderItem.id %}?next={% url 'cart:cart' %}">enlever un item</a>
            <br>
            <a href="{% url 'catalogue:deleteToCart' orderItemId=orderItem.id %}?next={% url 'cart:cart' %}">supprimer l'article</a>
        </div>
        {% endfor %}
    </div>
    <p>prix total : {{order.total_order_float}}€</p>
</div>