{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block stylsheet %}
     <link rel="stylesheet" href="{% sass_src 'pages/account.scss' %}" />
{% endblock %}

{% block content %}
<div class="account">
        <p>{{user.username}}</p>
        <p>{{user.email}}</p>
        <p><a href="{% url 'account:updateUser' %}">change profil</a></p>
        <p><a href="{% url 'account:password_change' %}">change password</a></p>

        <p>previous order : </p>
        {% for order in previousOrder %}
            ---
            {{order}}
            {% for orderItem in order.orderItems.all %}
                {{orderItem}}
            {% endfor %}
        {% endfor %}
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'account:logOut' %}">Log out</a></li>
        {% endif %}
</div>
{% endblock %}
