{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block stylsheet %}
     <link rel="stylesheet" href="{% sass_src 'pages/account.scss' %}" />
{% endblock %}

{% block content %}
<div class="account">
        <p>{{user}}</p>

        <p>précédentes commandes : </p>
        {% for order in previousOrder %}
            ---
            {{order}}
            {% for orderItem in order.orderItems.all %}
                {{orderItem}}
            {% endfor %}
        {% endfor %}
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'account:logOut' %}">Se déconnecter</a></li>
        {% endif %}
</div>
{% endblock %}
