{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block stylsheet %}
     <link rel="stylesheet" href="{% sass_src 'pages/login.scss' %}" />
{% endblock %}

{% block content %}
<div class="login">
    <form action="{% url 'account:login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
</div>
<p>sign up here ! <a href="{% url 'account:signUp' %}">click here</a></p>
<p>forgot password ? <a href="{% url 'account:password_reset' %}">click here</a></p>
{% for message in messages %}
    {{message}}
{% endfor %}
{% endblock %}

