{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block stylsheet %}
     <link rel="stylesheet" href="{% sass_src 'pages/login.scss' %}" />
{% endblock %}

{% block content %}
<div class="formContainer flex column align-center justify-center">
    <div class="flex column">
        <h1>Initiating retina scan. JK, who’s there? </h1>
        <h2>It’s me. I’m logging in. </h2>
    </div>
    <div class="form flex column">
        <form class="flex column" action="{% url 'account:login' %}" method="post">
            {% csrf_token %}
            {% include 'components/displayForm.html' with form=form %}
            <input class="button" type="submit" value="Beam me up">
            <a href="{% url 'account:signUp' %}">Sign up here ! </a>
            <a href="{% url 'account:password_reset' %}">Forget password ?</a>
        </form>
    </div>
</div>
{% endblock %}

