{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block stylsheet %}
     <link rel="stylesheet" href="{% sass_src 'pages/login.scss' %}" />
{% endblock %}

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% block content %}

<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

<form method="post">

	{% csrf_token %}
	{{form}}
	<input type="Submit" name="Send email">
	
</form>
{% comment %} <a href="{% url 'account:password_reset' %}">click here</a> {% endcomment %}
{% comment %} <p>forgot password ? <a href="{% url 'account:resetPassword' %}">click here</a></p> {% endcomment %}
{% for message in messages %}
    {{message}}
{% endfor %}
{% endblock %}
