{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block stylsheet %}
     <link rel="stylesheet" href="{% sass_src 'pages/form.scss' %}" />
{% endblock %}

{% block content %}

<div class="formContainer flex column align-center justify-center">
    <div class="flex column">
        <h1>Last step, keep it up !</h1>
        <h2>Please enter your new password twice so we can verify you typed it in correctly.</h2>
    </div>
    <div class="form flex column">
        <form class="flex column" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
					{{ field }}
                    {{ field.errors }}
                    {% if field.help_text %}
                    <div class="help">{{ field.help_text|safe }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <input class="button" type="submit" value="Send">
        </form>
    </div>
</div>

{% endblock %}

