{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block stylsheet %}
     <link rel="stylesheet" href="{% sass_src 'pages/information.scss' %}" />
{% endblock %}

{% block content %}
<div class="informationContainer flex row align-center justify-center">
    <div class="container">
        <h1>Congratulation !!!</h1>
        <h2>Your password has been set.</h2>
        <h2>You may go ahead and log in now !</h2>
        <a href="{% url 'account:login' %}">It's here !</a>
    </div>
</div>

{% endblock %}

