{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block stylsheet %}
     <link rel="stylesheet" href="{% sass_src 'pages/information.scss' %}" />
{% endblock %}

{% block content %}

<div class="informationContainer flex row align-center justify-center">
    <div class="container">
        <h1>Half-Done !!!</h1>
        <h2>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</h2>
        <h2>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</h2>
        <a href="{% url 'home' %}">Return to home with us !</a>
    </div>
</div>

{% endblock %}

