{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}
{% load tagsBasics %}

{% block stylsheet %}
     <link rel="stylesheet" href="{% sass_src 'pages/form.scss' %}" />
{% endblock %}

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% block content %}

<div class="formContainer flex column align-center justify-center">
    <div class="flex column">
        <h1>Forgotten your password?</h1>
        <h2>Enter your email address below, and we’ll email instructions for setting a new one.</h2>
    </div>
    <div class="form flex column">
        <form class="flex column" method="POST">
            {% csrf_token %}
            {% include 'components/displayForm.html' with form=form placeholder="Email" %}
            <input class="button" type="submit" value="Send">
        </form>
    </div>
</div>
{% endblock %}
