{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block stylsheet %}
     <link rel="stylesheet" href="{% sass_src 'pages/passwordChange.scss' %}" />
{% endblock %}

{% block content %}
<div class="formContainer flex column align-center justify-center">
    <div class="flex column">
        <h1>Initiating brain scan. JK, Tell me your secret! </h1>
        <h2>Update your password.</h2>
    </div>
    <div class="form flex column">
        <form class="flex column" method="post">
            {% csrf_token %}
            {% include 'components/displayForm.html' with form=form %}
            <input class="button" type="submit" value="Update your password">
            <a href="{% url 'account:account' %}">Go back to your profile</a>
        </form>
    </div>
</div>
{% endblock %}

