{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block stylsheet %}
     <link rel="stylesheet" href="{% sass_src 'pages/login.scss' %}" />
{% endblock %}

{% block content %}

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post">

	{% csrf_token %}
	{{form}}
	<input type="Submit" name="Update Password">
	
</form>
{% comment %} <p>forgot password ? <a href="{% url 'account:resetPassword' %}">click here</a></p> {% endcomment %}
{% for message in messages %}
    {{message}}
{% endfor %}
{% endblock %}

