{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block stylsheet %}
     <link rel="stylesheet" href="{% sass_src 'pages/login.scss' %}" />
{% endblock %}

{% block content %}

<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

<p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
{% comment %} <p>forgot password ? <a href="{% url 'account:resetPassword' %}">click here</a></p> {% endcomment %}
{% for message in messages %}
    {{message}}
{% endfor %}
{% endblock %}

