{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block stylsheet %}
     <link rel="stylesheet" href="{% sass_src 'pages/shipping.scss' %}" />
{% endblock %}

{% block content %}
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>


<div class="formContainer flex row">
    <div class="flex column">
        <h1>Initiating map scan. JK, where you want to be delivered? </h1>
        <h2>Create your adresse. </h2>
        <div class="form flex column">
            <form class="flex column" action="{% url 'cart:shipping' %}" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field }}
                    {% if field.help_text %}
                    <div class="help">{{ field.help_text|safe }}</div>
                    {% endif %}
                </div>
                {% endfor %}
                <input class="button" type="submit" value="Create an adresses">
            </form>
        </div>
    </div>
    
    <div class="shipping">
        <h2>Select your adresse of delivery</h2>
        <div class="adresses">
            {% for adress in request.user.adresses.all %}
                <div class="adresse flex row align-center">
                    <span>{{adress}}</span>
                    <a href="{% url 'cart:selectAdress' adressId=adress.id %}">select</a>
                </div>
            {% endfor %}
        </div>
        <div class="selected">
            adresse selected : {{order.adress}}
        </div>
        <form action="{% url 'cart:payment' %}" method="POST">
            {% csrf_token %}
            <input class="button" type="submit" value="Checkout">
        </form>
</div>

{% endblock %}