{% extends 'base.html' %}

{% block content %}
    shipping
    {% for adress in request.user.adresses.all %}
        <p>
            {{adress}}
            <a href="{% url 'cart:selectAdress' adressId=adress.id %}">select</a>
        </p>
    {% endfor %}
<p>
            adresse choisit : {{order.adress}}
        </p>
<form action="{% url 'cart:shipping' %}" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Submit">
</form>

<a href="{% url 'cart:payment' %}">recapitulatif</a>


{% endblock %}