{% extends 'base.html' %}

{% block content %}
    {% for message in messages %}
        {{message}}
    {% endfor %}
        <form method="get">
            {{ form.as_p }}
            <input type="submit" value="chercher">
        </form>
    <div>
        {% for product in products %}
            {% include 'catalogue/product.html'%}

            {% if request.get_full_path == '/shop/' %}
                <a href = "{% url 'catalogue:productDetail' pk=product.id  %}">voir l'article</a>
                <a href="{% url 'catalogue:addToCart' productId=product.id %}?next={% url 'catalogue:shop' %}"> add to cart </a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

