{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block stylsheet %}
     <link rel="stylesheet" href="{% sass_src 'pages/shop.scss' %}" />
{% endblock %}

{% block content %}
    {% for message in messages %}
        {{message}}
    {% endfor %}
        <form method="get">
            {{ form }}
            <input type="submit" value="chercher">
        </form>
        {% comment %} <a href="{% url 'catalogue:shop' %}">reset</a> {% endcomment %}
    <div class="products">
        {% for product in products %}
            {% include 'catalogue/product.html'%}
        {% endfor %}
    </div>
{% endblock %}

