{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}

{% block stylsheet %}
     <link rel="stylesheet" href="{% sass_src 'pages/sign-up.scss' %}" />
{% endblock %}


{% block content %}

<div class="formContainer flex column align-center justify-center">
    <div class="flex column">
        <h1>Initiating retina scan. JK, who’s there? </h1>
        <h2>Open sesame. I’m signing up. </h2>
    </div>  
    <div class="form flex column">
        <form class="flex column" method="post">
            {% csrf_token %}
            {% include 'components/displayForm.html' with form=form %}
            <input class="button" type="submit" value="Create an account">
            <a href="{% url 'account:login' %}">Already register ?</a>
        </form>
    </div>
</div>

{% endblock %}

