@import "./variables.scss";

:root{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;

}

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  min-width: 1140px;
}

section{
  min-height: 100vh ;
}

.flex{
  display: flex;
}

.row{
  flex-direction: row;
}

.column{
  flex-direction: column;
}

.align-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.space-around{
  justify-content: space-around;
}

.space-between{
  justify-content: space-between;
}

.base-line{
  align-items: baseline;
}

.wrap{
  flex-wrap: wrap;
}