@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

:root{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;

  --font-family-header: 'Nunito Sans';
  --color-header:white;
  --color-font-header:black;
}


body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

section{
  min-height: 100vh ;
}