@import "./variables.scss";

a{
  color:$color-header-font;
  text-decoration: none;
  font-family: $font-family-header;
  font-weight: 500;
  font-size: 14px;
}
header{
  background-color: $color-header-background;
  nav{
    padding: 10px 30px 0;
    height: 58px;
    .first{
      .logo{
        width: 180px;
      }
      ul{
        li{
          list-style: none;
          margin: 0 15px;
        }
      }
    }
    .input{
      margin-left: 15px;
      position:relative;
      #input-header{
        position: relative;
        background-color: white;
        border:none;
        width: calc(92vw - 600px);
        height: 34px;
        border-radius: 5px;
        text-indent: 20px;
        &:focus{
          outline: none;
        }
      }
      .search{
        position:absolute;
        right: 5px;
        top:4px;
        width: 30px;
      }
    }
    .second{
      ul{
        li{
          list-style: none;
          width: 50px;
          a{
            img{
              filter: invert(93%) sepia(0%) saturate(7500%) hue-rotate(75deg) brightness(115%) contrast(106%);
            }
            .person{
              width: 35px;
              margin-right: 5px;
            }
            .cart{
              width: 28px;
            }
          }
        }
      }
    }
  }

  .categories{
    background-color: $color-header-background;
    height: 34px;
    padding: 0 30px;
    color:$color-header-font;
    font-family: $font-family-header;
    .first{
      margin-right: 25px;
      .all{
        filter: invert(93%) sepia(0%) saturate(7500%) hue-rotate(75deg) brightness(115%) contrast(106%);
        width: 25px;
        margin-right: 10px;
      }
    }
    .categorie{
      margin-left: 30px;
      font-size: 17px;
      font-weight: 300;
      &:hover{
        opacity: 0.5;
      }
    }
  }

}