header{
  background-color: var(--color-header);
  position: sticky;
  top: 0;
  z-index: 500;
  display: flex;
  flex-direction: row;
  margin-left: 0;
  justify-content: space-between;
  nav{
    margin: auto 0;
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-inline-start: 0;
        margin-block: 0;
        li{
          margin: 0 20px;
            list-style: none;
          a{
            color: var(--color-font-header);
            text-decoration: none;
            font-family: var(--font-family-header),sans-serif;
            font-size: 12px;
            font-weight: 400;
            font-style: normal;
            text-transform: uppercase;
            white-space: nowrap;
            line-height: 1.5;
          }
        }
    }
  }
  .logo{
    margin:10px 0;
    img{
      height: 50px;
    }

  }

  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--color-font-header);
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--color-font-header);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .active{
    color: var(--color-font-header);
    text-decoration: underline;
    text-underline-offset: 3px;
  }
  
}