<!DOCTYPE html>
{% load sass_tags %}
{% load static %}
<html>
    <head>
        <link rel="icon" href="../../static/assets/logo.png">
        <meta charset="utf-8" />
        <title>TataTitiToto.</title>
	<link rel="stylesheet" href="{% sass_src 'footer.scss' %}" />
    <link rel="stylesheet" href="{% sass_src 'header.scss' %}" />
    <link rel="stylesheet" href="{% sass_src 'base.scss' %}" />
    <script src="{% static 'js/main.js' %}"></script>
    {% block stylsheet %}
    {% endblock %}
    
</head>

    <body>
        <header>
            {% block header %}
                {% include 'header.html' %}
            {% endblock %}
        </header>
        <section>
            {% block content %}
            {% endblock %}
        </section>
        <footer>
            {% block footer %}
                {% include 'footer.html' %}
            {% endblock %}
        </footer>
    </body>
</html>

