<!DOCTYPE html>
{% load sass_tags %}
{% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <title>Titre</title>
	<link rel="stylesheet" href="{% sass_src 'footer.scss' %}" />
    <link rel="stylesheet" href="{% sass_src 'header.scss' %}" />
    <link rel="stylesheet" href="{% sass_src 'base.scss' %}" />
    </head>

    <body>
        <header>
            <div class="main">
            {% block header %}
                {% include 'header.html' %}
            {% endblock %}
            </div>
        </header>
        <section>
            <div class="main min">
            {% block content %}
            {% endblock %}
            </div>
        </section>
        <footer>
            <div class="main">
            {% block footer %}
                {% include 'footer.html' %}
            {% endblock %}
            </div>
        </footer>
    </body>
</html>

