{% block footer %}
{% load static %}

<div class="footer">
    <div class="container">
        <div class="first">
            <span>Hello! We're Back Market, the leading marketplace for renewed devices. Our mission? To fight e-waste by giving expertly restored devices a second life. </span>
        </div>
        <div class="second flex row space-between">
            <div class="flex column">
                <h2>About</h2>
                <ul>
                    <li>
                        <a href="">About us</a>
                    </li>
                    <li>
                        <a href="">About us</a>
                    </li>
                    <li>
                        <a href="">About us</a>
                    </li>
                    <li>
                        <a href="">About us</a>
                    </li>
                    <li>
                        <a href="">About us</a>
                    </li>
                    <li>
                        <a href="">About us</a>
                    </li>
                </ul>
            </div>
            <div class="flex column">
                <h2>About</h2>
                <ul>
                    <li>
                        <a href="">About us</a>
                    </li>
                    <li>
                        <a href="">About us</a>
                    </li>
                    <li>
                        <a href="">About us</a>
                    </li>
                    <li>
                        <a href="">About us</a>
                    </li>
                    <li>
                        <a href="">About us</a>
                    </li>
                    <li>
                        <a href="">About us</a>
                    </li>
                </ul>
            </div>
            <div class="flex column">
                <h2>About</h2>
                <ul>
                    <li>
                        <a href="">About us</a>
                    </li>
                    <li>
                        <a href="">About us</a>
                    </li>
                    <li>
                        <a href="">About us</a>
                    </li>
                    <li>
                        <a href="">About us</a>
                    </li>
                    <li>
                        <a href="">About us</a>
                    </li>
                    <li>
                        <a href="">About us</a>
                    </li>
                </ul>
            </div>
            <div class="flex column">
                <h2>About</h2>
                <ul>
                    <li>
                        <a href="">About us</a>
                    </li>
                    <li>
                        <a href="">About us</a>
                    </li>
                    <li>
                        <a href="">About us</a>
                    </li>
                    <li>
                        <a href="">About us</a>
                    </li>
                    <li>
                        <a href="">About us</a>
                    </li>
                    <li>
                        <a href="">About us</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="transition"></div>
        <div class="infos flex row space-around">
            <img src="{% static 'assets/logo.png' %}" alt="">
            <div>This website is a Clone of Black Market made by <a href="mailto:lionel.arel@outlook.fr">Lionel AREL.<br/></a> Go check my <a href="https://www.lionel-arel.com" target="_blank">portfolio </a> and my <a  href="https://www.linkedin.com/in/lionel-arel-8a43881ba/"  target="_blank">linkedin.</a> </div>
        </div>
    </div>
</div>

{% endblock %}