{% block footer %}
{% load static %}
<div class="reseaux">
    <img src="{% static 'assets/facebook.svg' %}">
    <img src="{% static 'assets/insta.svg' %}">
</div>
<div class="navigation">
    <nav>
        <ul>
            <li>
                <a href="">contact</a>
            </li>
            <li>
                Copyright ©2022 All rights reserved | This website is made with by &nbsp;
                <a href="mailto:lionel.arel@outlook.fr">lionel AREL</a>
            </li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li>
                <a href="">support</a>
            </li>
            <li>
                <a href="">privacy</a>
            </li>
            <li>
                <a href="">termes et conditions</a>
            </li>
        </ul>
    </nav>
</div>

{% endblock %}