{% block header %}
{% load static %}
{% load active_link_tags %}

<nav>
    <ul>
        <li><a class="hover-underline-animation {% active_link 'home' %}" href="{% url 'home' %}">Home</a></li>
        <li><a class="hover-underline-animation {% active_link 'catalogue:shop' %}" href="{% url 'catalogue:shop' %}">Shop</a></li>
        <li><a class="hover-underline-animation {% active_link 'catalogue:about' %}" href="{% url 'catalogue:shop' %}">About</a></li>
    </ul>
</nav>
<div class="logo">
    <a href="{% url 'home' %}"><img src="{% static 'assets/logo.png' %}"></a>
</div>
<nav>
    <ul>
        <li>
            <a class="hover-underline-animation {% active_link 'account:account' %}" href="{% url 'account:account' %}">account</a>
        </li>
        <li>
            <a class="hover-underline-animation {% active_link 'cart:cart' %}" href="{% url 'cart:cart' %}">cart({{ cart }})</a>
        </li>
    </ul>
</nav>
{% endblock %}