{% load static %}
{% load sass_tags %}

{% block stylsheet %}
     <link rel="stylesheet" href="{% sass_src 'catalogue/product.scss' %}" />
{% endblock %}


<div class="product">
    <div class="img">
        <img src="{{product.img.url}}" alt="">
    </div>
    <h1>{{product.name}}</h1>
    <p>{{product.price_float}}€</p>
    <p>stock : {{product.stock}}</p>
    <br>
    <a class="hover-underline-animation" href = "{% url 'catalogue:productDetail' pk=product.id  %}">view product</a>
    {% if request.get_full_path != '/cart/' %}
        <a style="cursor:pointer;" onclick="fetchUpdateCart(`{% url 'catalogue:addToCart' productId=product.id %}`)">add a article</a>
    {% endif %}
</div>